@import "@/style/variables.scss";
@import "@/style/color.scss";
html {
    // overflow: hidden;
    color: var(--textColor_Primary);
    overscroll-behavior: none;
}
body {
    background: var(--bg_light_primary);
}
* {
    box-sizing: border-box;
    user-select: none;
}
input {
    background: transparent;
}
input:focus-visible {
    border: none;
    box-shadow: none;
    outline: none;
}
#stickyHeader {
    color: red;
}
#scrollTitle {
    white-space: nowrap;
    overflow: hidden;
    color: var(--text_dark_primary);
}

// trans
.trans {
    transition: $transBase;
}
.fastTrans {
    transition: $transFast;
}
.slowTrans {
    transition: all 0.5s cubic-bezier(0.02, 0.31, 0.15, 1.01);
}

// colors
.colorPrimary {
    background-color: var(--bg_Primary);
}

// bg light
.bgLightPrimary {
    background: var(--bg_light_primary);
}
.bgLightSecondary {
    background: var(--bg_light_secondary);
}
.bgLightBasic {
    background: var(--bg_light_basic);
}

// bg dark
.bgDarkPrimary {
    background: var(--bg_dark_primary);
    fill: var(--bg_dark_primary);
}
.bgDarkSecondary {
    background: var(--bg_dark_secondary);
}
.bgDarkBasic {
    background: var(--bg_dark_basic);
}

// txt深色
.text-dark-900 {
    color: var(--text_dark_primary);
}
.txtDarkSecondary {
    color: var(--text_dark_secondary);
}
.txtDarkBasic {
    color: var(--text_dark_basic);
}

// txt 亮色
.txtLightPrimary {
    color: var(--txt_light_primary);
}
.txtLightSecondary {
    color: var(--txt_light_secondary);
}
.txtLightBasic {
    color: var(--txt_Light_Basic);
}

.singleLine {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.appContainer {
    width: 100dvw;
    // height: 100dvh;
    background-color: var(--bg_light_primary);
    overflow: hidden;

    // overscroll-behavior: none; /* 禁用弹簧效果 */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 搜索页class button
.searchClassButton {
    width: calc(100% / var(--search_genre_card_num));
    aspect-ratio: 16 / 9;
    padding: var(--searchClassPad);
    .genreContent {
        width: 100%;
        height: 100%;
        border-radius: var(--searchGenreCardRadius);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, rgba(214, 55, 34, 0.7) 0, rgba(130, 22, 126, 0.7) 100%);
        // url("src/assets/imgs/ave2.jpg");
    }
}
.hideScroll {
    ::-webkit-scrollbar {
        display: none;
    }
}

// dashBoard
.msg {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    // height: 2em;
}
.typeIcon {
    display: inline-block;
    width: 1em;
    height: 1em;
    aspect-ratio: 1;
    margin-right: 0.5em;
}

.placeholderBg {
    background: var(--placeholderBg);
}

// 更多操作
.actionItem {
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text {
        white-space: nowrap;
    }
}

.showAllButton {
    color: orange;
    font-weight: 500;
}

.showAllGridRect {
    display: grid;
    grid-template-columns: repeat(var(--show_all_grid_rect_columns), 1fr);
    justify-content: center;
}
.browsePr {
    padding-right: var(--browse_Pr);
}
.tabAnimated {
    transition: scale 0.25s ease-in-out;
    scale: 0.8;
    transform-origin: right top;
}
.navWidth {
    width: var(--tab_width);
}
.transNavWidth {
    width: calc(100% - var(--tab_width)) !important;
}

.transNav {
    transform: translate(var(--tab_width), 0);
}
.basicW {
    width: calc(100vw / var(--basc_card_num));
}
.basicRectW {
    width: calc(100vw / var(--basc_card_rect_num));
}

.listTitle {
    font-size: 1.25em;
    height: 1.4em;
}
.pageTitle {
    font-size: 1.6em;
    font-weight: bold;
}
.browseButtonSize {
    height: 100%;
    @media (width <= 500px) {
        height: "";
        aspect-ratio: 1;
    }
}
.searchButton .browseButtonSize {
    width: 100%;
    height: 100%;
}
.browseClassButton {
    flex-shrink: 0;
    color: white; 
    font-size: 2em;
    // letter-spacing: 1em;
    text-align: center;
    font-weight: bold;
    background-size: cover;
    letter-spacing: 10px;
    // margin-right: calc(var(--browse_Pr) * 1.2);
}

.gridArea {
    $minw: 120px;
    
    display: grid;
    padding: 0 min(2%, 1rem);
    grid-template-columns: repeat(
        var(--show_all_grid_columns),
        calc(calc(100% - $gap * (var(--show_all_grid_columns) - 1)) / var(--show_all_grid_columns))
    );
    grid-gap: $gap 0;
    justify-content: space-around;
    justify-items: center;
}
.showBorderB {
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
