@import "@/style/variables.scss";
html {
    // overflow: hidden;
    color: var(--textColor_Primary);
    background: var(--bgLight_Primary);
    overscroll-behavior: none;
}
body {
    background: var(--bgLight_Primary); 
}
* {
    box-sizing: border-box;
    // ::-webkit-scrollbar-track {
    //     background-color: var(--bgLight_Primary);
    // }
}
div {
    // background: var(--bgLight_Primary);
}
input {
    background: transparent;
}
input:focus-visible {
    border: none;
    box-shadow: none;
    outline: none;
}
#stickyHeader {
    color: red;
}
#scrollTitle {
    white-space: nowrap;
    overflow: hidden;
    color: var(--textDark_Primary);
}
.trans {
    transition: $transBase;
}
.transSlow {
    transition: $transSlow;
}
.fastTrans {
    transition: all 0.2s ease-in-out;
}
.slowTrans {
    transition: all 0.5s cubic-bezier(0.02, 0.31, 0.15, 1.01);
}
.bgPrimary {
    background: var(--bgLight_Primary);
}

.bgLightSecondary {
    background: var(--bgLight_Secondary);
}

// txt深色
.txtDarkPrimary {
    color: var(--textDark_Primary);
}
.txtDarkSecondary {
    color: var(--textDark_Secondary);
}
.txtDarkBasic {
    color: var(--textDark_Basic);
}

// txt 亮色
.txtLightPrimary {
    color: var(--txt_Light_Primary);
}
.txtLightSecondary {
    color: var(--txt_Light_Secondary);
}
.txtLightBasic {
    color: var(--txt_Light_Basic);
}

.singleLine {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.appContainer {
    width: 100dvw;
    // height: 100dvh;
    background-color: var(--bgLight_Primary);
    overflow: hidden;

    // overscroll-behavior: none; /* 禁用弹簧效果 */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


// 搜索页class button
.searchClassButton {
    width: calc(100% / var(--searchGenreCardNum));
    aspect-ratio: 16 / 9;
    padding: var(--searchClassPad);
    .genreContent {
        width: 100%;
        height: 100%;
        border-radius: var(--searchGenreCardRadius);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, rgba(214, 55, 34, 0.7) 0, rgba(130, 22, 126, 0.7) 100%);
        // url("src/assets/imgs/ave2.jpg");
    }
}
.hideScroll {
    ::-webkit-scrollbar {
        display: none;
    }
}
 
.bgLightPrimary {
    background: var(--bgLight_Primary);
}

// dashBoard
.msg {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    // height: 2em;
}
.typeIcon {
    display: inline-block;
    width: 1em;
    height: 1em;
    aspect-ratio: 1;
    margin-right: 0.5em;
}
.type {
    display: inline-flex;
    flex-shrink: 0;
    width: $typeW;
    height: $cellHeight;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
    
}

.placeholderBg {
    background: var(--placeholderBg);
}
