@import "@/style/variables.scss";
html {
    overflow: hidden;
    color: var(--txtColor_Primary);
    background: var(--bgLight_Primary);
}
* {
    box-sizing: border-box; 
}
div {
    // background: var(--bgLight_Primary);
}
input {
    background: transparent;
}
input:focus-visible {
    border: none;
    box-shadow: none;
    outline: none;
}
#stickyHeader {
    color: red;
}
#scrollTitle {
    white-space: nowrap;
    overflow: hidden;
    color: var(--textDark_Primary);
}
.trans {
    transition: $transBase;
}
.transSlow {
    transition: $transSlow;
}
.fastTrans {
    transition: all 0.2s ease-in-out;
}
.slowTrans {
    transition: all 0.5s cubic-bezier(0.02, 0.31, 0.15, 1.01)
}
.bgPrimary {
    background: var(--bgLight_Primary);
}
.txtDark_Primary {
    color: var(--textDark_Primary);
}
.txtDark_Secondary {
    color: var(--textDark_Secondary);
}
.txtDark_Basic {
    color: var(--textDark_Basic);
}
.singleLine {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.appContainer {
    width: 100dvw;
    // height: 100dvh;
    background-color: var(--bgLight_Primary);
    overflow: hidden;

    // overscroll-behavior: none; /* 禁用弹簧效果 */
}

 .center {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .browseButtonSize {
    width: calc(100% / var(--genreNum));
    aspect-ratio: 10/5; 
 }
 .browseClassButton {
    
    
    border-radius: var(--searchGenreCardRadius);
    flex-shrink: 0;
    color: white;
    font-size: 2em;
    // letter-spacing: 1em;
    text-align: center;
    font-weight: bold;
    letter-spacing: 10px;
    font-size: var(--genreFontSize);
    background: linear-gradient(
          to right,
          rgba(214, 55, 34, 0.7) 0,
          rgba(130, 22, 126, 0.7) 100%
        );
}
// 搜索页class button
.searchClassButton {
    width: calc(100% / var(--searchGenreCardNum));
    aspect-ratio: 16 / 9;
    padding: var(--searchClassPad);
    .genreContent {
        width: 100%;
        height: 100%;
        border-radius: var(--searchGenreCardRadius);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(
          to right,
          rgba(214, 55, 34, 0.7) 0,
          rgba(130, 22, 126, 0.7) 100%
        );
        // url("src/assets/imgs/ave2.jpg");
      }
}
.hideScroll {
    ::-webkit-scrollbar {
        display: none;
    }
}