@use "sass:math";

$breakPointSmall: 500px;
$breakpointMedium: 1440px; 

$breakpointNormal: 1300px; 
$basicSpace: 15px;
$borderSize: 1px;
$cardAspectRatio: math.div(2, 3);
$filterAreaWidth: 60px;
$headerHeight: 5vh; 
$maskZindex: 98; 
$tabLeftSpace: 0.5rem;
$tabTopSpace: 0.2rem;
$textLeft: 5px;
$transBase: all 0.25s ease-in-out;
$transSlow: all 0.5s ease-in-out;
$transFast: all 0.1s ease-in-out;
$videoCardBasicBoxShadow: 0 0 5px rgb(123 123 123 / 50%);
$item_hover_color: hsla(0, 0%, 70%, 0.4);

$item_normal_color: #67c23a;
$item_failed_color: hsl(0, 99%, 35%);
$zindex: 100;

// dashBoard 
$typeW: min(30vw, 90px);
$cellHeight: 2rem;

html {
    // color
    --color_Primary: #f19109;
    --tab_width: max(23vw, 250px);  

    // 搜索页genre卡片
    --search_genre_card_num: 4;   

    // 基础卡片 
    --basc_card_num: 12.4; 
    --browse_Pr: 1rem;
    --dividerMy: 2vh;

    --season_card_num: 6.2;

    // 媒体类别
    --genreNum: 7;

    // 文件夹列数
    --file_grid_columns: 9;

    // 基础卡牌　横向
    --basc_card_rect_num: 6.2;

    // 演职员card
    --credit_card_num: 15;   

    // 消息列表
    --list_bg: #eaeaea;

    // 分割线背景色
    --dividerBg: rgb(107 107 107 / 30%);

    // imageWall
    --image_brick_count: 6;
    
    --show_all_grid_columns: 10;
    --show_all_grid_rect_columns: 6;

    background-color: var(--bg_Primary);

    // 手机竖屏
    @media (width < $breakPointSmall) and (orientation: portrait) {
        --tab_width: 100vw;
        // 搜索页genre卡片
        --search_genre_card_num: 2; 

        // 基础卡片 
        --basc_card_num: 3.4; 

        // 媒体类别
        --genreNum: 1.15;

        // 基础卡牌　横向
        --basc_card_rect_num: 1.2;

        --season_card_num: 2.2;

        --browse_Pr: 10px;
        --dividerMy: 6px;

        // 演职员card
        --credit_card_num: 5.2;  

        // imageWall
        --image_brick_count: 2;
        --show_all_grid_rect_columns: 2;
        --show_all_grid_columns: 3;

        // 文件夹列数
        --file_grid_columns: 3;
    }

    // 手机横屏
    @media (height < $breakPointSmall) and (orientation: landscape) { 

        // 搜索页genre卡片
        --search_genre_card_num: 3; 

        --tab_width: 30vw;  

        // 基础卡片 
        --basc_card_num: 5.4; 

        // 基础卡牌　横向
        --basc_card_rect_num: 3.2;
        --browse_Pr: 10px;

        --season_card_num: 4.2;
        
        // 演职员card
        --credit_card_num: 9;  

        // 媒体类别
        --genreNum: 4.6;

        // imageWall
        --image_brick_count: 3;
        
    }
    
    // 平板 竖屏
    @media 
        (width > $breakPointSmall) and 
        (width < $breakpointMedium) and 
        (height > $breakPointSmall) and 
        (orientation: portrait){ 

        --tab_width: 300px;  
        // 基础卡片 
        --basc_card_num: 6.2;

        // 基础card　横向
        --basc_card_rect_num: 3.5;

        --season_card_num: 3.2;

        // 演职员card
        --credit_card_num: 7.4;

        // 搜索页genre卡片
        --search_genre_card_num: 3;  

        // 媒体类别
        --genreNum: 3.8;

        --show_all_grid_columns: 5;
        --show_all_grid_rect_columns: 3;
    }

    // 平板 横屏
    @media 
        (width > $breakPointSmall) and 
        (width < $breakpointMedium) and 
        (height > $breakPointSmall) and 
        (orientation: landscape){ 

        // 基础卡片 
        --basc_card_num: 6.4;

        // 基础card　横向
        --basc_card_rect_num: 3.3;

        --season_card_num: 4.2;

        // 演职员card
        --credit_card_num: 10.1;

        // 搜索页genre卡片
        --search_genre_card_num: 3;  

        // 媒体类别
        --genreNum: 3.8;

        // 文件夹列数
        --file_grid_columns: 6;

        --image_brick_count: 4;

        --show_all_grid_columns: 8;
        --show_all_grid_rect_columns: 4;
    }

    // PC
    @media (width >= 1440px) {
        // --browse_Pr: 1.5rem;
    }
}
html {
    /* 暗黑模式样式 */
    @media (prefers-color-scheme: dark) {

        --txt_light_primary: rgb(223, 222, 222);
        --txt_light_secondary: rgb(191, 191, 191); 

        // color
        --placeholderBg: rgb(63, 63, 63);
        
        // text color
        --text_light_primary: #232323;
        --text_light_secondary: #373636e8;
        --text_light_basic: #757474;

        --text_dark_primary: #e1e1e1;
        --text_dark_secondary: #dfdfdfe8;
        --text_dark_basic: #e1e1e1;

        // background color
        --bg_dark_primary: #f5f5f5;
        --bg_dark_secondary: #e7e7e7;
        --bg_dark_basic: #c6c4c4;

        --bg_light_primary: #191919;
        --bg_light_secondary: #202020;
        --bg_light_basic: #323232d3;

        --nav_bg_primary: #181818;  

        // 消息列表
        --list_bg: #242424;

        // 分割线背景色
        --dividerBg: rgba(156, 154, 154, 0.2);
    }
    /* 明亮模式样式 */
    @media (prefers-color-scheme: light) {

        // text color 
        --txt_light_primary: rgb(223, 222, 222);
        --txt_light_secondary: rgb(191, 191, 191); 

        --text_light_primary: #e1e1e1;
        --text_light_secondary: #c8c6c6e8;
        --text_light_basic: #aba9a9;

        --text_dark_primary: #111111fa;
        --text_dark_secondary: #202020;
        --text_dark_basic: #5b5a5a;

        --bg_dark_primary: black;
        --bg_dark_secondary: #202020;
        --bg_dark_basic: #313030;

        --bg_light_primary: #f5f5f5;
        --bg_light_secondary: #e7e7e7;
        --bg_light_basic: hsla(0, 0%, 82%, 0.8);

        --nav_bg_primary: hsl(0, 0%, 96%);
    }
}
