@use "sass:math";

$breakPointSmall: 500px;
$breakpointMedium: 1440px; 

$breakpointNormal: 1300px; 
$basicSpace: 15px;
$borderSize: 1px;
$cardAspectRatio: math.div(2, 3);
$filterAreaWidth: 60px;
$headerHeight: 5vh; 
$maskZindex: 98; 
$tabLeftSpace: 0.5rem;
$tabTopSpace: 0.2rem;
$textLeft: 5px;
$transBase: all 0.25s ease-in-out;
$transSlow: all 0.5s ease-in-out;
$transFast: all 0.1s ease-in-out;
$videoCardBasicBoxShadow: 0 0 5px rgb(123 123 123 / 50%);
$zindex: 100;

$headerH: 45px;

// dashBoard 
$typeW: min(30vw, 90px);
$cellHeight: 2rem;

html {
    // color
    --color_Primary: #f19109;

    --tabWidth: max(18vw, 220px);  

    // 搜索页genre卡片
    --search_genre_card_num: 4;   

    // 基础卡片 
    --basc_card_num: 12.6; 

    // 媒体类别
    --genreNum: 10;

    // 基础卡牌　横向
    --basc_card_rect_num: 6.6;

    // 演职员card
    --credit_card_num: 15;   

    // 消息列表
    --list_bg: #eaeaea;

    // 分割线背景色
    --dividerBg: rgb(107 107 107 / 30%);

    // imageWall
    --imageBrickCount: 4;
    

    background-color: var(--bg_Primary);

    // 手机竖屏
    @media (width < $breakPointSmall) and (orientation: portrait) {

        --tabWidth: 70vw;
        // 搜索页genre卡片
        --search_genre_card_num: 2; 

        // 基础卡片 
        --basc_card_num: 3.8; 

        // 媒体类别
        --genreNum: 2.3;

        // 基础卡牌　横向
        --basc_card_rect_num: 2.1;

        // 演职员card
        --credit_card_num: 5.2;  

        // imageWall
        --imageBrickCount: 2;
    }

    // 手机横屏
    @media (height < $breakPointSmall) and (orientation: landscape) { 

        // 搜索页genre卡片
        --search_genre_card_num: 3; 

        // 基础卡片 
        --basc_card_num: 7.3; 

        // 基础卡牌　横向
        --basc_card_rect_num: 4.1;
        
        // 演职员card
        --credit_card_num: 10;  

        // 媒体类别
        --genreNum: 4.6;

        // imageWall
        --imageBrickCount: 3;
        
    }
    
    // 平板
    @media (width > $breakPointSmall) and (width < $breakpointMedium) and (height > $breakPointSmall) { 

        // 基础卡片 
        --basc_card_num: 9.2;

        // 基础card　横向
        --basc_card_rect_num: 5.2;

        // 演职员card
        --credit_card_num: 12;

        // 搜索页genre卡片
        --search_genre_card_num: 3;  

        // 媒体类别
        --genreNum: 3.8;
    }
}
html {
    /* 暗黑模式样式 */
    @media (prefers-color-scheme: dark) {

        --txt_light_primary: rgb(223, 222, 222);
        --txt_light_secondary: rgb(191, 191, 191); 

        // color
        --placeholderBg: rgb(63, 63, 63);
        
        // text color
        --text_light_primary: #232323;
        --text_light_secondary: #373636e8;
        --text_light_basic: #757474;

        --text_dark_primary: #e1e1e1;
        --text_dark_secondary: #dfdfdfe8;
        --text_dark_basic: #9b9a9a;

        // background color
        --bg_dark_primary: #f5f5f5;
        --bg_dark_secondary: #e7e7e7;
        --bg_dark_basic: #c6c4c4;

        --bg_light_primary: #191919;
        --bg_light_secondary: #202020;
        --bg_light_basic: #4f4e4e;

        --nav_bg_primary: #181818;  

        // 消息列表
        --list_bg: #242424;

        // 分割线背景色
        --dividerBg: rgba(211, 211, 211, 0.3);
    }
    /* 明亮模式样式 */
    @media (prefers-color-scheme: light) {

        // text color 
        --txt_light_primary: rgb(223, 222, 222);
        --txt_light_secondary: rgb(191, 191, 191); 

        --text_light_primary: #e1e1e1;
        --text_light_secondary: #c8c6c6e8;
        --text_light_basic: #aba9a9;

        --text_dark_primary: #111111fa;
        --text_dark_secondary: #202020;
        --text_dark_basic: #5b5a5a;

        --bg_dark_primary: black;
        --bg_dark_secondary: #202020;
        --bg_dark_basic: #313030;

        --bg_light_primary: #f5f5f5;
        --bg_light_secondary: #e7e7e7;
        --bg_light_basic: #b4b3b3b7;

        --nav_bg_primary: #f5f5f5;
    }
}
