@use "sass:math";


$breakpointNormal: 1300px; 
$basicSpace: 15px;
$borderSize: 1px;
$cardAspectRatio: math.div(2, 3);
$filterAreaWidth: 60px;
$headerHeight: 5vh; 
$maskZindex: 98; 
$tabLeftSpace: 0.5rem;
$tabTopSpace: 0.2rem;
$textLeft: 5px;
$transBase: all 0.25s ease-in-out;
$transSlow: all 0.5s ease-in-out;
$zindex: 100;

$headerH: 45px;

// dashBoard 
$typeW: min(30vw, 90px);
$cellHeight: 2rem;

html {
    font-size: 16px;
    --tabWidth: max(18vw, 220px);
    --basicRadius: 0.55rem;
    --priRadius: 0.8rem;
    --baseColor: 0;

    --txt_Darak_Primary: black;

    --headerHeight: 5vh;
    --daliMargin: 1.5rem;

    // 搜索页genre卡片
    --searchGenreCardNum: 4;
    --searchGenreCardRadius: 0.8rem;
    --searchClassPad: 0.8rem;

    // 轮播卡片
    --crouselCardNum: 1;
    --crouselAspectRatio: 21 / 9;

    --dailNum: 4.1;

    // 带overerview卡片
    --overviewHeight: max(50vh, 400px);
    --overviewCardNum: 3.2;
    --overviewSpace: 0.8rem;
    --overviewRadius: 6px;
    --overviewRowLimit: 3;

    // 影片类型列表
    --genreHeight: 20vh;
    --genreFontSize: 2rem;
    --genreNum: 6;
    --classMargin: 0.5rem;
    --genreSpace: 0.8rem;

    // 基础卡片
    --basicCardadius: 7px;
    --bascCardiNum: 8.1;
    --basicCardInfoHeight: 3rem;
    --basicCardHeight: 38vh;

    --filmNameSize: 1.1rem;

    --cardShadow: 4px 2px 8px 2px rgba(69, 67, 67, 0.69);

    --primaryColor: #1532dbfa;
    --txtActiveColor: #3776f4ee;
    --headerOpacity: 0;

    background-color: var(--bg_Primary);
    @media (width <= 628px) {
        --genreNum: 1.1;
        --genreHeight: 15vh;

        --tabWidth: 70vw;
        // 搜索页genre卡片
        --searchGenreCardNum: 2;

        // landscape卡片
        --dailNum: 1.1;

        // 轮播卡片
        --crouselAspectRatio: 2 / 3;

        // 基础卡片
        // --basicCardadius: 7px;
        --bascCardiNum: 3.2;
        // --basicCardInfoHeight: 3rem;
        --basicCardHeight: 30vh;

        // 影片类型列表
        --genreHeight: 20vh;
        --genreNum: 2.1;
        --genreHeight: 15vh;
        --genreFontSize: 1.5rem;
        --genreSpace: 0.6rem;

        // 带overerview卡片
        --overviewHeight: 50vh;
        --overviewCardNum: 1.1;

        // 搜索页genre卡片
        // --searchGenreCardNum: 3;
        // --searchGenreCardRadius: 0.8rem;
        --searchClassPad: 0.5rem;
    }
    @media (width >628px) and (width < 1375px) {
        // --genreNum: 1.1;
        // --genreHeight: 15vh;

        // --tabWidth: 70vw;

        // landscape卡片
        --dailNum: 3.1;

        // 轮播卡片
        // --crouselAspectRatio: 4/5;
        // --crouselCardNum: 1.1;

        // 基础卡片
        // --basicCardadius: 7px;
        --bascCardiNum: 5.2;
        // --basicCardInfoHeight: 3rem;
        --basicCardHeight: 30vh;

        // 影片类型列表
        --genreNum: 4.1;
        --genreHeight: 15vh;
        --genreFontSize: 1.5rem;
        --genreSpace: 1rem;

        // // 带overerview卡片
        --overviewHeight: 50vh;
        --overviewCardNum: 2.1;
        --overviewRowLimit: 2;

        // 搜索页genre卡片
        --searchGenreCardNum: 3;
        --searchGenreCardRadius: 0.8rem;
        --searchClassPad: 0.65rem;
    }
}
html {
    /* 暗黑模式样式 */
    @media (prefers-color-scheme: dark) {
        --textLight_Primary: #232323;
        --textLight_Secondary: #373636e8;
        --textLight_Basic: #757474;

        --txtColor_Primary: white;

        --txt_Darak_Primary: #e1e1e1;
        --textDark_Secondary: #c8c6c6e8;
        --textDark_Basic: #aba9a9;

        --bgDark_Primary: #f5f5f5;
        --bgDark_Secondary: #e7e7e7;
        --bgDark_Basic: #c6c4c4;

        --bgLight_Primary: black;
        --bgLight_Secondary: #202020;
        --bgLight_Basic: #313030;

        --navBg_Primary: #181818;

        --cardShadow: none;
        --baseColor: 0;
    }
    /* 明亮模式样式 */
    @media (prefers-color-scheme: light) {
        --textLight_Primary: #e1e1e1;
        --textLight_Secondary: #c8c6c6e8;
        --textLight_Basic: #aba9a9;

        --textDark_Primary: #111111fa;
        --textDark_Secondary: #202020;
        --textDark_Basic: #5b5a5a;

        --bgDark_Primary: black;
        --bgDark_Secondary: #202020;
        --bgDark_Basic: #313030;

        --bgLight_Primary: #f5f5f5;
        --bgLight_Secondary: #e7e7e7;
        --bgLight_Basic: #c6c4c4;

        --navBg_Primary: #f5f5f5;

        --cardShadow: none;
        ----baseColor: 0;
    }
}
